<!doctype html>
<html>
  <head>
    <style>
      input {
        margin: 4px;
        width: 250px;
      }
    </style>
    <title>Upload a photo</title>
  </head>
  <body>
    <h1>Upload a photo</h1>
    <div style="text-align:right;width:400px;border:1px dashed #6495de;padding:16px;">
      <form>
        <label for="filename">File Name</label>
        <input id="filename"><br>

        <label for="photo">Photo ID</label>
        <input id="photo" type="file" name="photo"/><br />
        <input type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>